/* ----------------banner----------------- */
.banner{
  width: 1920px;
  height: 800px;
  border: 3px solid #333;
  overflow: hidden;
  position: relative;
}

.banner img{
  width: 1920px;
  height: 800px;
}

#list {
  width: 13400px;
   height: 400px;
   position: absolute;
   z-index: 1;
 }

 #list img {
   float: left;
 }

 #buttons {
   position: absolute;
   height: 10px;
   width: 100px;
   z-index: 2;
   bottom: 20px;
   left: 250px;
 }

#buttons span {
  cursor: pointer;
  float: left;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
  margin-right: 5px;
}

 #buttons .on {
   background: orangered;
}

 .arrow {
   cursor: pointer;
   display: none;
   line-height: 39px;
   text-align: center;
   font-size: 36px;
 	font-weight: bold;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 2;
  top: 180px;
  background-color: RGBA(0,0,0,.3);
  color: #fff;
}

 .arrow:hover {
   background-color: RGBA(0,0,0,.7);
}

 .banner:hover .arrow {
   display: block;
}

 #prev {
   left: 20px;
}

 #next {
   right: 20px;
}

/* ---------------about--------------------- */
.about_box{
  width: 1920px;
  height: 1080px;
  background: url(../images/首页_06.png) no-repeat;
}



.about_img {
  width: 300px;
  margin: 0 auto;
}

.about_img img{
  margin-top: 300px;
}

.about_title{
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}

.about_title h2{
  text-align: center;
  font-family: 方正博雅宋_GBK;
  font-size: 28px;
  letter-spacing: 2.5px;
}

.about_main{
  width: 800px;
  margin: 0 auto;
  overflow: visible;
  font: 20px  方正博雅宋_GBK;
  letter-spacing: 2px;
  margin-top: 35px;
}

.about_button{
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

/* ----------------audio----------------- */

.audio_box{
  width: 1920px;
  height: 1080px;
  background: url(../images/首页_07.png) no-repeat;
}

/* ---------------case----------------- */
.case_box{
  width: 1920px;
  height: 1080px;
  background: #eeeeee;
}

.case_main{
  width: 1520px;
  height: 600px;
  line-height: 600px;
  margin: 0 auto;
}

.case_main img{
  margin-top: 240px;
}

.case_button{
  width: 500px;
  margin: 0 auto;
  margin-top: 300px;
}

/* ---------------partner----------------- */
.partner_box{
  width: 1920px;
  height: 800px;
}

.partner_title{
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

.partner_main{
  width: 1520px;
  height: 600px;
  line-height: 600px;
  margin: 0 auto;
}
